.nav {
    grid-area: n;
    background-color: blueviolet;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    line-height: 1.5;
}
  
.navlink {
    font-size: 25px;
    font-weight: 500;
    color: rgb(205, 233, 50);
    margin: 10px;
    text-decoration: none;
}

.navlink:hover {
    transition: 1s;
    color: rgb(235, 54, 114);
    font-style: italic;
    font-size: 30px;
    text-shadow: 5px -5px 5px black;
}

.navlink.active {
    transition: 1s;
    font-size: 35px;
    color: rgb(235, 54, 114);
    font-weight: 700;
    font-style: italic;
    text-shadow: 5px -5px 5px black;
}
  
.friend {
    font-size: 20px;
    color: rgb(205, 233, 50);
    font-style: italic;
    margin: 10px;
}

.ava {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid rgb(205, 233, 50);
  /* background-color:  rgb(205, 233, 50); */
}

.user {
  text-decoration: none;
  color: rgb(205, 233, 50);
  padding-left: 10px;
}